.env
.idea/
.deluge/config/
!.deluge/config/.gitkeep
storage/
!storage/.gitkeep
!storage/done/.gitkeep
!storage/progress/.gitkeep
!storage/todo/.gitkeep
!storage/torrents/.gitkeep
.nextcloud/
.database/
.plex/
!.plex/.gitkeep
