.env
.idea/
.deluge/
.samba/
storage/
!storage/.gitkeep
!storage/done/.gitkeep
!storage/progress/.gitkeep
!storage/todo/.gitkeep
!storage/torrents/.gitkeep
!storage/calibreLibrary/.gitkeep
.nextcloud/
.database/
.plex/
.calibre/
